embedding_cache
faiss_indexes
examples
cli
LICENSE
data
__pycache__
*.pyc
.env

*.pyc
*__pycache__*
*.egg-info
*.example
.venv/

zzz*
*.svg
*.png
src/streettransformer/image_retrieval/artifacts/
src/streettransformer/query/artifacts/*
tests/*